.header {
    position: relative;

    @include responsive(ipad) {
        padding: 1rem 2rem;
        box-shadow: 0 0 10px 0 rgba(0,0,0,.08);
        position: sticky;
        top: 0;
        left: 0;
        background-color: $color-white;
        width: 100%;
        z-index: 999;
    }

    &__logo-box {
        position: absolute;
        top: 0;
        left: 0;

        a > * {
            display: inline-block;
        }

        @include responsive(ipad) {
            position: static;
        }
    }

    &__logo-symbol {
        background-color: $color-primary;
        color: $color-white;
        border-radius: 50%;
        height: 4.4rem;
        width: 4.4rem;
        text-align: center;
        line-height: 4.4rem;
        font-size: 2.8rem;
        font-weight: 800;
        margin-right: .8rem;
        margin-top: .4rem;   
    }

    &__logo-text {
        line-height: 5rem;
        font-size: 2rem;
        color: $color-black-1;
        font-weight: 600;

        span {
          font-weight: 400;  
        }
    }

    // navigation
    &__navigation {

        &-icon {
            display: none;

            @include responsive(ipad) {
                display: inline-block;
                position: absolute;
                top: 1rem;
                right: 2rem;

                // might have to remove this when replaced with icon
                line-height: 5.2rem;
                font-size: $default-font-size;
                font-weight: 400;
                color: $color-grey-dark-4;
            }
        }

        &-nav {
            position: absolute;
            top: 0;
            right: 0;

            @include responsive(ipad) {
                display: none;
            }
        }

        &-list {
            list-style: none;
        }

        &-item {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 4rem;
            }
        }

        &-link {
            &:link, &:visited {
                line-height: 5.2rem;
                font-size: $default-font-size;
                font-weight: 400;
                color: $color-grey-dark-4;
                opacity: .55;
                transition: all .3s;
            }

            &:hover, &:active {
                opacity: 1;
            }
        }
    }
}